<div
  x-bind:class="{'bg-blue-normal shadow duration-100': !at_top || is_open_mobile_nav}"
  class="md:hidden fixed top-0 left-0 right-0 z-30 w-full h-fit px-6 py-2.5 transition-all duration-300"
>
  <div
    @click="is_open_mobile_nav = true"
    x-bind:class="(at_top && !is_open_mobile_nav) ? 'hidden' : 'flex justify-center w-full'"
    class="absolute top-0 left-0 pt-2.5 flex justify-center"
  >
    <span class="w-10 h-10">{% include images/topBgMobile.svg %}</span>
  </div>
  <button
    @click="is_open_mobile_nav = !is_open_mobile_nav"
    type="button"
    class="rounded-md p-1 text-white text-2xl hover:bg-white/10 transition-colors w-10 h-10"
  >
    <span class="w-10 h-10 text-white"
      >{% include icons/navBarIcon.svg %}</span
    >
  </button>

  <!-- mobile menu -->
  <div
    x-show="is_open_mobile_nav"
    x-transition:enter="transition ease-out duration-100"
    x-transition:enter-start="transform opacity-0 scale-95"
    x-transition:enter-end="transform opacity-100 scale-100"
    x-transition:leave="transition ease-in duration-75"
    x-transition:leave-start="transform opacity-100 scale-100"
    x-transition:leave-end="transform opacity-0 scale-95"
    class="mt-6 flow-root"
    @click.away="is_open_mobile_nav = false"
  >
    <div class="-my-6 divide-y divide-white/10">
      <div class="space-y-2 py-6">
        <a
          href="#speakers"
          @click.prevent="scrollToSection('speakers')"
          class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-red-light transition-colors"
        >
          SPEAKERS
        </a>
        <a
          href="#schedule"
          @click.prevent="scrollToSection('schedule')"
          class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-red-light transition-colors"
        >
          SCHEDULE
        </a>
        <a
          href="#venue"
          @click.prevent="scrollToSection('venue')"
          class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-red-light transition-colors"
        >
          VENUE
        </a>
        <a
          href="#party"
          @click.prevent="scrollToSection('party')"
          class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-red-light transition-colors"
        >
          PARTY
        </a>
        <a
          href="#coscup"
          @click.prevent="scrollToSection('coscup')"
          class="-mx-3 block px-3 py-2 font-semibold leading-7 text-white hover:text-red-light transition-colors"
        >
          COSCUP
        </a>
      </div>
    </div>
  </div>
</div>

<div
  class="lg:pl-57.5 md:pl-40 w-full h-full flex justify-end-safe items-start md:items-center overflow-hidden"
>
  <span class="grow hidden md:block w-screen max-w-[1240px] h-fit"
    >{% include images/topBg.svg %}</span
  >
  <span class="block md:hidden w-screen h-auto"
    >{% include images/topBgMobile.svg %}</span
  >
</div>
<section
  id="top"
  class="relative w-fit h-fit py-10 md:absolute z-10 top-0 md:left-16 left-5 md:pr-32 flex flex-col items-center md:gap-7 xl:gap-20 gap-4 md:items-start justify-between overflow-hidden"
  data-aos="fade-up"
  data-aos-duration="1000"
  data-aos-easing="ease-in-out"
  data-aos-once="true"
>
  <div
    class="hidden md:flex flex-col space-y-2 w-fit font-extrabold text-xl"
    data-aos="fade-right"
  >
    <a
      href="#speakers"
      class="nav-link transition-colors cursor-pointer text-red-light-active hover:text-red-light-hover"
      @click.prevent="scrollToSection('speakers')"
      >SPEAKERS</a
    >
    <a
      href="#schedule"
      class="nav-link transition-colors cursor-pointer text-red-light-active hover:text-red-light-hover"
      @click.prevent="scrollToSection('schedule')"
      >SCHEDULE</a
    >
    <a
      href="#venue"
      class="nav-link transition-colors cursor-pointer text-red-light-active hover:text-red-light-hover"
      @click.prevent="scrollToSection('venue')"
      >VENUE</a
    >
    <a
      href="#party"
      class="nav-link transition-colors cursor-pointer text-red-light-active hover:text-red-light-hover"
      @click.prevent="scrollToSection('party')"
      >PARTY</a
    >
    <a
      href="#coscup"
      class="nav-link transition-colors cursor-pointer text-red-light-active hover:text-red-light-hover"
      @click.prevent="scrollToSection('coscup')"
      >COSCUP</a
    >
  </div>
  <div class="text-start font-extrabold text-green-darker md:max-w-md">
    <p class="lg:text-4xl sm:text-3xl text-xl">2025/08/09-10</p>
    <p class="mt-2 md:mt-4 lg:text-4xl sm:text-3xl text-xl">
      National Taiwan University <br />
      of <br />
      Science and Technology
    </p>
    <p class="mt-2 text-green-normal font-bold">Free Entry</p>
  </div>
  <a
    href="#speakers"
    aria-label="scroll down"
    @click.prevent="scrollToSection('speakers')"
    class="hidden md:block md:w-9 md:h-19 w-6 h-14 animate-bounce cursor-pointer"
    data-aos="fade-up"
    data-aos-duration="1000"
    data-aos-easing="ease-in"
    data-aos-delay="1000"
  >
    {% include icons/arrowDown.svg %}
  </a>
</section>