<!-- modal -->
{% for schedule in site.data.schedule | where: "type", "session" %}
  {% if schedule.speaker_id and schedule.speaker_id != "" %}
<div
  x-show="open_id == '{{ schedule.speaker_id }}'"
  x-transition:enter="transition-opacity ease-out duration-1000"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <div class="z-50 fixed inset-0 w-full h-full pt-24 transition-opacity">
    <div
      @click="open_id=0"
      class="absolute top-0 w-full h-full bg-black/50"
    ></div>
    <div
      class="absolute left-1/2 -translate-x-1/2 overflow-y-auto top-1/2 -translate-y-1/2 rounded-lg p-4 md:p-8 w-[90vw] md:w-[60rem] max-h-[70vh] md:max-h-[80vh] bg-white text-left shadow-xl transition-all [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar]:pr-1 [&::-webkit-scrollbar-track]:rounded-r-xl [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-xl [&::-webkit-scrollbar-thumb]:bg-gray-300"
    >
      <div
        class="relative w-full p-4 bg-white md:grid md:grid-cols-5 gap-x-4"
      >
        <!-- speaker -->
        <div
          class="md:col-span-2 flex md:flex-col justify-center md:justify-start items-center text-center"
        >
          <div
            class="relative flex flex-col items-center gap-4 md:gap-9.5 mt-8 md:mt-0 md:mb-8"
          >
            <div class="flex flex-col items-center w-full max-w-sm">
              <div
                class="w-40 h-40 sm:w-45 sm:h-45 border rounded-full relative"
              >
                <div
                  class="absolute inset-1 rounded-full border border-white z-10"
                ></div>
                <img
                  class="w-full h-full object-cover rounded-full relative"
                  src="/assets/images/{{ schedule.speaker_avatar }}"
                  alt="{{ schedule.speaker_name }}"
                />
              </div>
              <p
                class="mt-2 text-lg text-blue-normal font-bold truncate w-full px-2"
              >
                {{ schedule.speaker_name }}
              </p>
            </div>
            <div class="mt-2 text-blue-normal">
              <p>
                {{ schedule.speaker_bio }}
              </p>
            </div>

            <div class="flex text-dark-pink-100 items-center gap-x-2">
              {% if schedule.speaker_github %}
              <a
                href="http://github.com/{{ schedule.speaker_github }}"
                target="_blank"
                rel="noopener noreferrer"
                class="hover:-translate-y-1 transition-all w-7 h-7 text-blue-normal"
              >
                {% include icons/github.svg %}
              </a>
              {% endif %}
              <!-- twitter -->
              {% if schedule.speaker_x %}
              <a
                href="http://x.com/{{ schedule.speaker_x }}"
                target="_blank"
                rel="noopener noreferrer"
                class="text-blue-normal hover:-translate-y-1 transition-all w-7 h-7"
              >
                {% include icons/twitter.svg %}
              </a>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- session -->
        <div
          class="flex flex-col gap-y-4 col-span-5 md:col-span-3 mt-4 md:mt-0"
        >
          <div class="flex text-md gap-x-4 items-center text-green-normal">
            <div
              class="bg-green-normal font-normal text-blue-light px-3 py-1 rounded-md"
            >
              {{ schedule.track }}
            </div>
            <div class="flex sm:flex-row flex-wrap grow">
              <p>
                {% case schedule.day %}
                  {% when 1 %}2025/8/9
                  {% when 2 %}2025/8/10
                {% endcase %}
              </p>
              <p class="pl-2">{{ schedule.start_time }} ~ {{ schedule.end_time }}</p>
            </div>
          </div>

          <p class="text-xl md:text-2xl font-bold text-red-normal">
            ({{ schedule.lang }}) {{ schedule.subject }}
          </p>
          <div class="text-green-normal mt-3 session-abstract">
            <p>
              {{ schedule.abstract | markdownify }}
            </p>
          </div>
          {% if schedule.video_id %}
          <div class="mt-4 aspect-video w-full">
            <iframe
              class="w-full h-full rounded-lg"
              src="https://www.youtube.com/embed/{{ schedule.video_id }}"
              title="{{ schedule.subject }}"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          {% endif %}
          <!--
          <div
            class="px-3 py-1 text-green-normal bg-green-light border border-green-normal rounded-md w-fit"
          >
            slido
          </div>
          !-->
        </div>
        <button
          @click="open_id=0"
          class="absolute right-4 top-4 text-2xl cursor-pointer text-green-normal hover:text-green-normal-active"
        >
          {% include icons/xMark.svg %}
        </button>
      </div>
    </div>
  </div>
</div>
  {% endif %}
{% endfor %}