<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/styles.css' | relative_url }}"
    />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <meta name="description" content="{{ site.description }}" />
    <meta
      property="og:title"
      content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}"
    />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- AOS - Animate On Scroll library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/assets/js/main.js"></script>
  </head>
  <body class="h-full font-sans overflow-x-hidden">
    <!-- Main Content -->
    <main
      class="h-full flex flex-col gap-22.5 from-blue-light to-blue-light-active bg-gradient-to-b"
    >
      {{ content }}
    </main>

    <footer
      x-data="{ modal_id: 0 }"
      x-cloak
      class="relative bg-gray-900 text-blue-light py-8"
    >
      <div class="container mx-auto px-4 space-y-4">
        <div
          class="flex justify-center space-x-8 mb-6 border-b border-blue-light text-blue-light font-bold pb-6"
        >
          <button
            @click="modal_id=1"
            class="text-blue-light hover:text-blue-light-active cursor-pointer"
          >
            Code of Conduct
          </button>

          <button
            @click="modal_id=2"
            class="text-blue-light hover:text-blue-light-active cursor-pointer"
          >
            Team Member
          </button>
          <a
            href="https://ruby.tw"
            target="_blank"
            class="text-blue-light hover:text-blue-light-active"
            >Ruby Taiwan</a
          >
        </div>
        <div class="flex justify-center space-x-4">
          <a href="https://x.com/rubyconftw" target="_blank">
            <div class="w-7 h-7 text-blue-light">
              {% include icons/twitter.svg %}
            </div>
          </a>
          <a href="https://www.facebook.com/rubyconftw" target="_blank">
            <div class="w-7 h-7 text-blue-light">
              {% include icons/facebook.svg %}
            </div>
          </a>
          <a href="https://www.instagram.com/rubytaiwan2008" target="_blank">
            <div class="w-7 h-7 text-blue-light">
              {% include icons/instagram.svg %}
            </div>
          </a>
        </div>
        <div class="font-light text-xs text-center text-blue-light">
          ©Rubyconf Taiwan 2025
        </div>
      </div>
      <!-- code of conduct modal -->
      <div
        x-show="modal_id == 1"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div class="z-50 fixed inset-0 w-full h-full pt-24 transition-opacity">
          <div
            @click="modal_id=0"
            class="absolute top-0 w-full h-full bg-black/50"
          ></div>
          <div
            class="absolute left-1/2 -translate-x-1/2 overflow-y-auto top-28 rounded-xl p-4 md:p-8 pr-6 w-[90vw] md:w-[60rem] max-h-[70vh] md:max-h-[80vh] bg-white text-left shadow-xl transition-all [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar]:pr-1 [&::-webkit-scrollbar-track]:rounded-r-xl [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-xl [&::-webkit-scrollbar-thumb]:bg-gray-300"
          >
            <div class="relative w-full p-4 bg-white">
              <div class="flex flex-col items-center">
                <h3 class="text-3xl text-center font-bold text-red-normal">
                  Code of Conduct
                </h3>
                <div class="mt-4 text-green-normal space-y-4">
                  <p>
                    All attendees, speakers, sponsors and volunteers at our
                    conference are required to agree to follow the Code of
                    Conduct. Organizers will enforce this Code of Conduct
                    throughout the event. We are expecting cooperation from all
                    participants to help ensure a safe environment for
                    everybody.
                  </p>
                  <p>
                    Harassment includes offensive verbal comments related to
                    gender, gender identity and expression, age, sexual
                    orientation, disability, physical appearance, body size,
                    race, religion, sexual images in public spaces, deliberate
                    intimidation, stalking, following, harassing photography or
                    recording, sustained disruption of talks or other events,
                    inappropriate physical contact, and unwelcome sexual
                    attention.
                  </p>
                  <p>
                    Participants asked to stop any harassing behavior are
                    expected to comply immediately. Sponsors are also subject to
                    the anti-harassment policy. In particular, sponsors should
                    not use sexualized images, activities, or other material.
                    Booth staff (including volunteers) should not use sexualized
                    clothing/uniforms/customes, or otherwise create a sexualized
                    environment.
                  </p>
                  <p>
                    If a participant engages in harassing behavior, the
                    conference organizers may take any action they deem
                    appropriate, including warning the offender or expulsion
                    from the conference with no refund. If you are being
                    harassed, notice that someone else is being harassed, or
                    have any other concerns, please contact a member of
                    conference staff immediately. Conference staff will be
                    visible by their special badges and clothing.
                  </p>
                  <p>
                    Conference staff will be happy to help participants contact
                    hotel/venue security or local law enforcement, provide
                    escort, or otherwise assist those experiencing harassment to
                    feel safe for the duration of the conference. We value your
                    attendance. We expect participants to follow these rules at
                    all conference venues and conference-related social events.
                  </p>
                  <p>
                    This Code of Conduct is based off the work done at
                    <a
                      target="_blank"
                      class="underline cursor-pointer text-blue-500"
                      href="http://confcodeofconduct.com/"
                      >Conference Code of Conduct</a
                    >.
                  </p>
                  <p>
                    所有此次活動的聽眾、演講者、贊助商和志工，都必須同意遵守下列行為準則。而主辦單位也將嚴格地執行這些準則，我們期待所有參加者的合作，以確保大家能有一個安全友善的環境。
                  </p>
                  <p>
                    騷擾包括有關性別，性別認同、年齡、性向、殘疾、外貌、體型、種族、宗教的攻擊性言語，或是在公共場合散播色情圖片、蓄意恐嚇、跟踪、騷擾性的攝影或錄影、多次打斷活動、不恰當的身體接觸，和讓人感到不舒服的性關注。參與者必須停止任何騷擾行為並且立即遵守行為準則。
                  </p>
                  <p>
                    贊助商也必須遵守行為準則。贊助商不應該使用帶有性意味的圖像、活動，或其它材料。工作人員（包括志工）不該穿著帶有性意味的衣服/制服/裝扮，或是建立一個具有性意味的環境。
                  </p>
                  <p>
                    如果參與者從事騷擾行為，工作人員會採取其認為適當的任何手段，包括警告或是請離會場，並且不會退費。
                    如果你被騷擾、看到別人受到騷擾，或有任何其他問題，請立即聯繫會議工作人員，工作人員身上會穿戴可以識別身份的特殊徽章或衣服。
                  </p>
                  <p>
                    工作人員會很樂意幫助參與者聯繫酒店/場地警衛或當地警察、提供護送，或以其他方式幫助那些遇到騷擾的參與者感到安全。我們非常重視您的參與。
                  </p>
                  <p>
                    我們希望參與者在各活動場合、會議有關的社群活動都能遵循這些規則。
                  </p>
                  <p>
                    此行為準則是基於
                    <a
                      target="_blank"
                      class="underline cursor-pointer text-blue-500"
                      href="http://confcodeofconduct.com/"
                      >Conference Code of Conduct</a
                    >
                    而訂定。
                  </p>
                </div>
                <button
                  @click="modal_id=0"
                  class="mx-auto mt-4 border rounded px-3 py-2 text-lg bg-green-normal text-blue-light hover:bg-green-normal-active cursor-pointer"
                >
                  CLOSE
                </button>
              </div>
              <button
                @click="modal_id=0"
                class="absolute right-4 top-4 text-2xl cursor-pointer text-green-normal hover:text-green-normal-active"
              >
                {% include icons/xMark.svg %}
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- team member modal -->
      <div
        x-show="modal_id == 2"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div class="z-50 fixed inset-0 w-full h-full pt-24 transition-opacity">
          <div
            @click="modal_id=0"
            class="absolute top-0 w-full h-full bg-black/50"
          ></div>
          <div
            class="absolute left-1/2 -translate-x-1/2 overflow-y-auto top-28 rounded-xl p-4 md:p-8 pr-6 w-[90vw] md:w-[60rem] max-h-[70vh] md:max-h-[80vh] bg-white text-left shadow-xl transition-all [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar]:pr-1 [&::-webkit-scrollbar-track]:rounded-r-xl [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-xl [&::-webkit-scrollbar-thumb]:bg-gray-300"
          >
            <div class="relative w-full p-4 bg-white">
              <div
                class="grid grid-cols-1 md:grid-cols-3 gap-x-4 justify-center items-center text-center"
              >
                <div class="flex flex-col items-center gap-4">
                  <div class="w-45 h-45 border rounded-full relative">
                    <div
                      class="absolute inset-1 rounded-full border border-white z-10"
                    ></div>
                    <img
                      class="w-full h-full object-cover rounded-full relative"
                      src="/assets/images/matz.jpg"
                      alt="Matz"
                    />
                  </div>
                  <span class="mt-2 text-lg text-blue-normal font-bold"
                    >Matz</span
                  >
                  <div class="flex gap-x-2">
                    <a
                      href="https://x.com/matz"
                      target="_blank"
                      class="text-blue-normal w-7 h-7"
                    >
                      {% include icons/twitter.svg %}
                    </a>
                    <a
                      href="https://www.facebook.com/matz"
                      target="_blank"
                      class="text-blue-normal w-7 h-7"
                    >
                      {% include icons/facebook.svg %}
                    </a>
                    <a
                      href="https://www.instagram.com/matz"
                      target="_blank"
                      class="text-blue-normal w-7 h-7"
                    >
                      {% include icons/instagram.svg %}
                    </a>
                  </div>
                </div>
              </div>
              <button
                @click="modal_id=0"
                class="absolute right-4 top-4 text-2xl cursor-pointer text-green-normal hover:text-green-normal-active"
              >
                {% include icons/xMark.svg %}
              </button>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
