<!DOCTYPE html>
<html lang="zh-Hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <link
      rel="stylesheet"
      href="{{ '/assets/css/styles.css' | relative_url }}"
    />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />

    <meta name="description" content="{{ site.description }}" />
    <meta
      property="og:title"
      content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}"
    />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <script
      defer
      src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <!-- AOS - Animate On Scroll library -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="/assets/js/main.js"></script>
  </head>
  <body class="h-full font-sans overflow-x-hidden">
    <!-- Main Content -->
    <main
      class="h-full flex flex-col gap-22.5 from-blue-light to-blue-light-active bg-gradient-to-b"
    >
      {{ content }}
    </main>

    <footer
      x-data="{ modal_id: 0 }"
      x-cloak
      class="relative bg-gray-900 text-blue-light py-8"
    >
      <div class="container mx-auto px-4 space-y-4">
        <div
          class="flex justify-center space-x-8 mb-6 border-b border-blue-light text-blue-light font-bold pb-6"
        >
          <button
            @click="modal_id=1"
            class="text-blue-light hover:text-blue-light-active cursor-pointer"
          >
            {{ site.footer.coc.title }}
          </button>

          <button
            @click="modal_id=2"
            class="text-blue-light hover:text-blue-light-active cursor-pointer"
          >
            {{ site.footer.team_member.title }}
          </button>
          <a
            href="{{ site.footer.rubytw.href}}"
            target="_blank"
            class="text-blue-light hover:text-blue-light-active"
            >{{ site.footer.rubytw.title }}</a
          >
        </div>
        <div class="flex justify-center space-x-4">
          <a href="https://x.com/rubyconftw" target="_blank">
            <div class="w-7 h-7 text-blue-light">
              {% include icons/twitter.svg %}
            </div>
          </a>
          <a href="https://www.facebook.com/rubyconftw" target="_blank">
            <div class="w-7 h-7 text-blue-light">
              {% include icons/facebook.svg %}
            </div>
          </a>
          <a href="https://www.instagram.com/rubytaiwan2008" target="_blank">
            <div class="w-7 h-7 text-blue-light">
              {% include icons/instagram.svg %}
            </div>
          </a>
        </div>
        <div class="font-light text-xs text-center text-blue-light">
          {{ site.footer.title }}
        </div>
      </div>
      <!-- code of conduct modal -->
      <div
        x-show="modal_id == 1"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div class="z-50 fixed inset-0 w-full h-full pt-24 transition-opacity">
          <div
            @click="modal_id=0"
            class="absolute top-0 w-full h-full bg-black/50"
          ></div>
          <div
            class="absolute left-1/2 -translate-x-1/2 overflow-y-auto top-28 rounded-xl p-4 md:p-8 pr-6 w-[90vw] md:w-[60rem] max-h-[70vh] md:max-h-[80vh] bg-white text-left shadow-xl transition-all [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar]:pr-1 [&::-webkit-scrollbar-track]:rounded-r-xl [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-xl [&::-webkit-scrollbar-thumb]:bg-gray-300"
          >
            <div class="relative w-full p-4 bg-white">
              <div class="flex flex-col items-center">
                <h3 class="text-3xl text-center font-bold text-red-normal">
                  {{ site.footer.coc.title }}
                </h3>
                <div class="mt-4 text-green-normal space-y-4">
                  {% capture coc_content %}{% include posts/coc.md %}{% endcapture %}
                  {{ coc_content | markdownify }}
                </div>
                <button
                  @click="modal_id=0"
                  class="mx-auto mt-4 border rounded px-3 py-2 text-lg bg-green-normal text-blue-light hover:bg-green-normal-active cursor-pointer"
                >
                  CLOSE
                </button>
              </div>
              <button
                @click="modal_id=0"
                class="absolute right-4 top-4 text-2xl cursor-pointer text-green-normal hover:text-green-normal-active"
              >
                {% include icons/xMark.svg %}
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- team member modal -->
      <div
        x-show="modal_id == 2"
        aria-labelledby="modal-title"
        role="dialog"
        aria-modal="true"
      >
        <div class="z-50 fixed inset-0 w-full h-full pt-24 transition-opacity">
          <div
            @click="modal_id=0"
            class="absolute top-0 w-full h-full bg-black/50"
          ></div>
          <div
            class="absolute left-1/2 -translate-x-1/2 overflow-y-auto top-28 rounded-xl p-4 md:p-8 pr-6 w-[90vw] md:w-[60rem] max-h-[70vh] md:max-h-[80vh] bg-white text-left shadow-xl transition-all [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar]:pr-1 [&::-webkit-scrollbar-track]:rounded-r-xl [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:rounded-xl [&::-webkit-scrollbar-thumb]:bg-gray-300"
          >
            <div class="relative w-full p-4 bg-white">
              <div
                class="grid grid-cols-1 md:grid-cols-3 gap-x-4 justify-center items-center text-center"
              >
                {% for staff in site.staffs %}
                <div class="flex flex-col items-center gap-4">
                  <div class="w-45 h-45 border rounded-full relative">
                    <div
                      class="absolute inset-1 rounded-full border border-white z-10"
                    ></div>
                    <img
                      class="w-full h-full object-cover rounded-full relative"
                      src="{{staff.avatar}}"
                      alt="Matz"
                    />
                  </div>
                  <span class="mt-2 text-lg text-blue-normal font-bold"
                    >{{staff.name}}</span
                  >
                  <div class="flex gap-x-2">
                    {% if staff.github_id %}
                    <a
                      href="https://github.com/{{staff.github_id}}"
                      target="_blank"
                      class="text-blue-normal w-7 h-7"
                    >
                      {% include icons/github.svg %}
                    </a>
                    {% endif %}
                    {% if staff.x_id %}
                    <a
                      href="https://x.com/{{staff.x_id}}"
                      target="_blank"
                      class="text-blue-normal w-7 h-7"
                    >
                      {% include icons/twitter.svg %}
                    </a>
                    {% endif %}
                    {% if staff.facebook %}
                    <a
                      href="{{staff.facebook}}"
                      target="_blank"
                      class="text-blue-normal w-7 h-7"
                    >
                      {% include icons/facebook.svg %}
                    </a>
                    {% endif %}
                    {% if staff.ig_id %}
                    <a
                      href="https://www.instagram.com/{{staff.ig_id}}"
                      target="_blank"
                      class="text-blue-normal w-7 h-7"
                    >
                      {% include icons/instagram.svg %}
                    </a>
                    {% endif %}
                  </div>
                </div>
                {% endfor %}
              </div>
              <button
                @click="modal_id=0"
                class="absolute right-4 top-4 text-2xl cursor-pointer text-green-normal hover:text-green-normal-active"
              >
                {% include icons/xMark.svg %}
              </button>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
